@{
    ViewBag.Title = "Müsabaka Ekle";
}
<div class="content pt-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">@ViewBag.Title</h4>
                        <p class="card-category">
                            Ekleme işlemi için bilgileri eksiksiz doldurunuz.
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("AddCompetition", "Home")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ev Sahibi</label>
                                        <input type="text" class="form-control" name="Home" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Rakip</label>
                                        <input type="text" class="form-control" name="Away" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Hakem</label>
                                        <input type="text" class="form-control" name="Referee" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Türü</label>
                                        <input type="text" class="form-control" name="Type" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Tarihi</label>
                                        <input type="date" class="form-control" name="Date" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Saati</label>
                                        <input type="time" class="form-control" name="Time" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" value="AddCompetition">
                                Ekle
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
