
@{
    ViewBag.Title = "Oyuncu Ekle";
}
<div class="content pt-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">@ViewBag.Title</h4>
                        <p class="card-category">
                            Ekleme işlemi için bilgileri eksiksiz doldurunuz.
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("AddPlayer", "Home")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Adı</label>
                                        <input type="password" class="form-control" name="name" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Soyadı</label>
                                        <input type="password" class="form-control" name="surname" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Forma Numarası</label>
                                        <input type="text" class="form-control" name="number" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Uyruk</label>
                                        <input type="text" class="form-control" name="nationality" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Doğum Tarihi</label>
                                        <input type="date" class="form-control" name="dateofbirth" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Takımı</label>
                                        <input type="text" class="form-control" name="team" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" value="AddPlayer">
                                Ekle
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
