
@{
    ViewBag.Title = "Müsabaka Bilgi Formu";
}
<div class="content pt-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <div class="form-group">
                                <input class="form-control" placeholder="Müsabaka ara.." />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group pt-2">
                                <i class="material-icons text-white">search</i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card pt-4">
                    <div class="card-header card-header-primary text-center">
                        <h4 class="card-title">@ViewBag.Title</h4>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("AddCompetition", "Home")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ev Sahibi</label>
                                        <label class="form-control">Fenerbahçe</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Rakip</label>
                                        <label class="form-control">Galatasaray</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Hakem</label>
                                        <label class="form-control">Ali Vefa</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Türü</label>
                                        <label class="form-control">Futbol</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Tarihi</label>
                                        <label class="form-control">26.02.2021</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Saati</label>
                                        <label class="form-control">16:15</label>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>