
@{
    ViewBag.Title = "Sonuç Güncelle";
}
<div class="content pt-4">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">@ViewBag.Title</h4>
                        <p class="card-category">
                            Güncelleme işlemi için bilgileri eksiksiz doldurunuz.
                        </p>
                    </div>
                    <div class="card-body">
                        <form method="post" action="@Url.Action("UpdateScore", "Home")">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Id</label>
                                        <input type="text" class="form-control" name="CopmId" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ev Sahibi</label>
                                        <input type="text" class="form-control" name="Home" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Rakip</label>
                                        <input type="text" class="form-control" name="Away" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Ev Sahibi Skor</label>
                                        <input type="text" class="form-control" name="HomeScore" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Rakip Skor</label>
                                        <input type="text" class="form-control" name="AwayScore" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Müsabaka Türü</label>
                                        <input type="text" class="form-control" name="CompType" />
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right" value="UpdateScore">
                                Güncelle
                            </button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
